@import url("https://use.typekit.net/ppx2tjg.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  /* definerer hvordan størrelsen blier regnet -> om padding og border skal "skubbe" eller ej */
}

:root {

    --dark: #2F2E33;
    --light: #D5D6D2;
    --white: #f5f5f5; /* knækket hvid, da man ikke bør bruge fuld hvid/sort */
    --blue: #3A5199;

    --headline-font: font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --text-font: transat, sans-serif;
}


/* #region Intro animations */

#introAnimation {

    background: var(--light);
    
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    z-index: 999;

    /* animation: introAnimation 1.8s; */

}

@keyframes introAnimation {

    0% {
        
        height: 0%;
        

    }

    10% {
        
        height: 100%;

    }

    80% {
        
        height: 100%;
        opacity: 1;
        top: 0;
    }

    100% {
        
        height: 0%;
        top: 50%;
        opacity: 0;
    }

}


#introAnimation p {
    color: var(--dark);
    
    position: fixed;
    top: 20%;
    left: 10%;
    z-index: 999;
    opacity: 0;
    font-family: var(--headline-font);
    font-weight: 400;
    font-size: 50px;
    
    animation: introAnimationTxt 1.8s;
    
}

@keyframes introAnimationTxt {

    0% {
        opacity: 0;
        top: 20%;
        
    }

    70% {
        opacity: 1;
        
    }

    100% {
        opacity: 0;
        top: 30%;
        
    }

}



/* #endregion */

/* "global" styling */

body {
    background: var(--light);
    color: var(--dark);
}

.wrap {

    width: 90%;
    margin: 0 auto;
    max-width: 1600px;

}

.imgFluid {
    max-width: 100%;
    height: auto;
}


/* #region header */

header {

    background: var(--light);


    display: grid;
    grid-template-columns: 1fr 3fr;

    
    align-items: center;
    height: 100px;

    
}

.logo svg {
    width: 200px;
    padding: 10px;
}



#topNav ul {
    list-style: none;
    text-align: right;
}

#topNav ul li {
    display: inline-block;
    padding: 10px 20px;
    
}

#topNav ul li a{
    text-decoration: none;
    color: var(--dark);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 0;
    font-size: 20px;
}

/* #endregion */

#bigHeading {
    
    margin: 7% 0 0 0;

}

/* #region main */
main {
  
    margin: 7% auto;

    /* background: hotpink; */
    

}

/* #region projects */

.card {   
    
    margin: 100px 0;
    width: 45%;
    color: var(--dark);
    font-family: var(--text-font);

}

.card a{
    text-decoration: none;
    color: inherit;
    font-size: 25px;
    
}

.card:hover h4 {
/* padding i stedet for tranform siden den skal passe i begge retninger */
    padding: 0 20px;
    transition: .5s ease-in-out;
}

.card img {

    filter: grayscale(40%) blur(1px);
    transition: transform .5s, filter .5s ease-in-out;
}

.card:hover img {

    transform: scale(1.1);
    filter: grayscale(0) blur(0);
}

.imgContainer {
    overflow: hidden;
    
}

.cardRight {
    
    margin-left: 60%;
    
}

.cardRight h4 {
    text-align: left;
    
}


.cardLeft h4 {
    text-align: right;
}


.center {
    text-align: center;
       
}

.center a {

    color: var(--dark);
    font-family: var(--text-font);
    font-size: 40px;
    text-decoration: none;
    
    
}

.center a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

/* #endregion */

#about {

    background: hotpink;
    height: 80vh;

    display: grid;
    grid-template-columns: 1fr 1fr;
    


}

.paraPortrait {

    background: url("https://www.fillmurray.com/1000/500");
    
    
}

/* #endregion */




footer {
    
    background: var(--blue);
    text-align: center;
    
    bottom: 0px;
    width: 100%;
    height: 10vh;
}











/* temp -> delete later */

h1 {
    color: var(--dark);
    font-size: 80px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

