<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    hej i am kasper am currently under uddannelse, er rly into all things user experience og sweet animationer, om det er igennem css eller after effects. 

   <!-- <div>
                <h2>
                    erfaring - skole og år and things do this in about me
                    erfaring - skole og år and things do this in about me
                    erfaring - skole og år and things do this in about me
                </h2>
                <p>
                    Internettet er min hjemmebane. Jeg er erfaren i html, css og javascript 
                    og i at bruge dem til at lave fed UI & UX. Om det skal kodes fra bunden eller igennem
                    preprocessors som SCSS eller frameworks som React eller Bootstrap. Derudover 
                    er jeg godt inde med CMS systemer som Wordpress og lidt Umbraco. 
                </p>
            </div> -->


</body>
</html>