<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>

    <link rel="stylesheet" href="../css/main.css">

</head>
<body>

    
    <div class="wrap">
        
        <header id="header">
            <div class="logo">
                <a href="../index.html">
                    <svg viewbox="0 0 658 147">
                        <text data-name="Title - header" transform="translate(0 130)" fill="#3a5199"
                        font-size="141" font-family="Haettenschweiler"><tspan x="0" y="0">&lt;</tspan><tspan y="0" fill="var(--dark)">KasperPtak</tspan><tspan y="0" font-size="110">/</tspan><tspan y="0">&gt;</tspan>
                    </text>
                </svg>
            </a>
        </div>
        
        <nav id="topNav">
            <ul class="hover">
                <li>
                    <a href="/index.html">Forside</a>
                </li>
                <li>
                    <a href="../views/projects.html">Projekter</a>
                </li>
                <li class="active">
                    <a href="../views/about.html">Om Mig</a>
                </li>
                <li>
                    <a href="#aboutContact">Kontakt</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main>

        
        <section class="aboutHeading">
            <h1>
                Hej, mit navn er Kasper - jeg laver hjemmesider. <br> 
                jeg brænder for interaktivt og brugervenligt design.
                Researcher, designer og koder all things frontend
                <br>
                <br>
                Under uddannelse på Multimedierdesigner i Odense, i fuld gang med at udvide mit arsenal. 
            </h1>
            
            <div>
                <h3>Kasper Møller Friis Ptak</h3>
                <a href="mailto:kasperptak2@gmail.com">kasperptak2@gmail.com</a>
                <a href="tel:29903993">+45 29 90 39 93</a>
            </div>
            
        </section>
        

        <!-- <div>
            <h2>
                erfaring - skole og år and things do this in about me
                
            </h2>
            <p>
                Internettet er min hjemmebane. Jeg er erfaren i html, css og javascript 
                og i at bruge dem til at lave fed UI & UX. Om det skal kodes fra bunden eller igennem
                preprocessors som SCSS eller frameworks som React eller Bootstrap. Derudover 
                er jeg godt inde med CMS systemer som Wordpress og lidt Umbraco. 
            </p>
            hej i am kasper am currently under uddannelse, er rly into all things user experience og sweet animationer, om det er igennem css eller after effects. 
        </div> -->
        
        
    </main>
    </div>

    <div class="aboutExperience">

        <div>
            <h2>Erfaren WebDeveloper</h2>
            <p>
                Internettet er min hjemmebane. Jeg er erfaren i html, css og javascript 
                og i at bruge dem til at lave fed UI & UX. Om det skal kodes fra bunden eller igennem
                preprocessors som SCSS eller frameworks som React eller Bootstrap. Derudover 
                er jeg godt inde med CMS systemer som Wordpress og lidt Umbraco. 
           </p>
        </div>
        <div>
            <h2>
                Rutineret i Adobe pakken
            </h2>
            <p>
                Jeg har igennem mange år brugt diverse programmer, mange fra adobe pakken, jeg er især blevet rutineret til Adobe XD, Photoshop, After Effects, Animate, Premiere Pro og Illustrator. 
                Ud over adobe pakken har jeg erfaring i at arbejde med Scrum og Github. 
            </p>
        </div>
        <div>
            <h2>
                Motion graphics
            </h2>
            <p>
                 Jeg har altid haft en interesse i Motion Graphics ved siden af at kode. Det handler især om Adobe After Effects. 
                 Skulle det være nødvendigt at få lavet en kort promo, eller en lille animation til hjemmesiden er det også en del af mit arsenal. 
            </p>
        </div>

    </div>

    <div id="aboutContact" class="contact">

        <h4>
            Skriv til mig <br> <span class="arrow">⬇</span> 
            
        </h4>
           <h1 class="readMore hover">
               <a href="mailto:kasperptak2@gmail.com">Kasperptak2@gmail.com</a>
            </h1>
            
        </div>
  

    <footer>
        
        <div class="footer-item">
            
            <div class="logo">
                <a href="#header">
                    <svg viewbox="0 0 658 147">
                        <text data-name="Title - header" transform="translate(0 130)" fill="#3a5199"
                        font-size="141" font-family="Haettenschweiler"><tspan x="0" y="0">&lt;</tspan><tspan y="0" fill="var(--light)">KasperPtak</tspan><tspan y="0" font-size="110">/</tspan><tspan y="0">&gt;</tspan>
                    </text>
                </svg>
            </a>
        </div>
    </div>
    
    <div class="footer-item">
        
                    <div class="footer-content">
                        
                        <a href="#header">Back to top</a>
                        
                        <a href="tel:29903993">+45 29 90 39 93</a>
                    
                        <a href="mailto:kasperptak2@gmail.com">Kasperptak2@gmail.com</a>
        
                    </div>
                    
                </div>
                
                <div class="footer-item">
                    
                    <a href="https://www.linkedin.com/in/kasper-ptak-041322213/">
                        <img class="imgFluid" src="../Images//logos/linkedin-logo.png" alt="linkedin logo">
                    </a>
                    <a href="https://www.facebook.com/kasper.ptak">
                        <img class="imgFluid" src="../Images//logos/fb-logo.png" alt="facebook logo">
                    </a>
                    <a href="https://github.com/KasperPtak">
                        <img class="imgFluid" src="../Images//logos/gh-logo.svg" alt="github logo">
                    </a>
                    
                </div>
                
                
            </footer>

            

</body>
</html>