<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Portfolio website made for multimediadesigner 1.semester exam">
    <meta name="keywords" content="HTML, CSS, Frontend, Exam, Portfolio">
    <meta name="author" content="Kasper Møller Friis Ptak">

    <title>Projekter</title>

     <!-- favicon -->
     <link rel="icon" type="image/svg+xml" href="../Gfx/favicon.svg">
     <link rel="icon" type="image/png" href="../Gfx/favicon.png"> 

    <link rel="stylesheet" href="../css/main.css">

</head>

<body>

    <div class="wrap">

        <header id="header">
            <div class="logo">
                <a href="../index.html">
                <svg viewbox="0 0 658 147">
                    <text data-name="Title - header" transform="translate(0 130)" fill="#3a5199"
                        font-size="141" font-family="Haettenschweiler"><tspan x="0" y="0">&lt;</tspan><tspan y="0" fill="var(--dark)">KasperPtak</tspan><tspan y="0" font-size="110">/</tspan><tspan y="0">&gt;</tspan>
                    </text>
                </svg>
            </a>
            </div>

            <nav id="topNav">

                <ul class="hover">

                    <li>
                        <a href="../index.html">Forside</a>
                    </li>

                    <li class="active">
                        <a href="../views/projects.html">Projekter</a>
                    </li>

                    <li>
                        <a href="../views/about.html">Om Mig</a>
                    </li>
                    
                    <li>
                        <a href="../views/about.html#aboutContact">Kontakt</a>
                    </li>
                </ul>
            </nav>
        </header>

        <h1 class="heading">
            Mine Projekter
        </h1>

        <main>
            
            <div class="pjContainer">
                <div class="pjCard">
                    <a href="http://kasp9772.web.videndjurs.dk/" target="_blank">
                        <figure class="pjImg">

                            <figcaption class="pjCardText">
                                <h1>
                                    Nightbird
                                </h1>

                                <h5>
                                    HTML - CSS - Bootstrap - Fontawesome - jquery - scss
                                </h5>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="pjCard">
                    <a href="https://kasperptak.com/moonOpg/index.html" target="_blank">
                        <figure class="pjImg">
                            <figcaption class="pjCardText">
                                <h1>
                                    MoonOpg
                                </h1>

                                <h5>
                                    HTML - CSS
                                </h5>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="pjCard">
                    <a href="http://kasperptak.com/cssAnimationTutorial/index.html" target="_blank">
                        <figure class="pjImg">
                            <figcaption class="pjCardText">
                                <h1>
                                    Cannon Animation
                                </h1>

                                <h5>
                                    HTML - CSS - Adobe Illustrator
                                </h5>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="pjCard">
                    <a href="https://kasperptak.com/hotpink/index.html" target="_blank">
                        <figure class="pjImg">
                            <figcaption class="pjCardText">
                                <h1>
                                    Hotpink Site
                                </h1>

                                <h5>
                                    HTML - CSS - Javascript
                                </h5>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="pjCard">
                    <a href="https://xd.adobe.com/view/fac40040-9745-4b3c-8516-84596fa25bd8-af97/" target="_blank">
                        <figure class="pjImg">
                            <figcaption class="pjCardText">
                                <h1>
                                    Det Gode Brød
                                </h1>

                                <h5>
                                    Adobe XD
                                </h5>
                            </figcaption>
                        </figure>
                    </a>
                </div>

                <div class="pjCard">
                    <a href="https://xd.adobe.com/view/78f2e502-3379-42ea-ac24-c8aa16c2d357-2da1/" target="_blank">
                        <figure class="pjImg">
                            <figcaption class="pjCardText">
                                <h1>
                                    Jørns Biler
                                </h1>

                                <h5>
                                    Adobe XD - Photoshop - Illustrator - Gruppeopgave
                                </h5>
                            </figcaption>
                        </figure>
                    </a>
                </div>



            </div>

        </main>


    </div>

    <footer>

        <div class="footer-item">

            <div class="logo">
                <a href="#header">
                <svg viewbox="0 0 658 147">
                    <text data-name="Title - header" transform="translate(0 130)" fill="#3a5199"
                        font-size="141" font-family="Haettenschweiler"><tspan x="0" y="0">&lt;</tspan><tspan y="0" fill="var(--light)">KasperPtak</tspan><tspan y="0" font-size="110">/</tspan><tspan y="0">&gt;</tspan>
                    </text>
                </svg>
            </a>
            </div>
        </div>
            
        <div class="footer-item">

            <div class="footer-content">
                
                <a href="#header">Back to top</a>
                
                <a href="tel:29903993">+45 29 90 39 93</a>
            
                <a href="mailto:kasperptak2@gmail.com">Kasperptak2@gmail.com</a>

            </div>
            
        </div>
        
        <div class="footer-item">
            
            <a href="https://www.linkedin.com/in/kasper-ptak-041322213/">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="https://www.facebook.com/kasper.ptak">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
            <a href="https://github.com/KasperPtak">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
            
        </div>
        
        
    </footer>
    <!-- <p style="text-align: left; height: 0; ">Copyright &copy; Kasper Ptak</p> -->

</body>

</html>